*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}


.nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
.nav {
	padding-right: 20px;
	padding-bottom: 20px;
	


} 
	
.nav-links{
	flex: 1;
	text-align: right;
	float: right;
	margin-top: 20px;

}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;

}
.nav-links ul li:after{
	content:'';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.sub-menu{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	display: none;
	text-align: center;

}

.sub-menu::after{
	content:'';
	width: 0%;
	height: 2px;
	background: #f44336;
	margin: auto;
	
}



.nav-links ul li:hover .sub-menu{
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
}