.col-3 {
    width: 50%;
    padding: 2px;
    margin-left: auto;
}

.col-7 {
    width: 50%;
    padding: 2px;
    margin-right: 50px;
}
p{
    font-family: 'Roboto', sans-serif;

}

.row {
    display: flex;
    border: 2px solid rgb(161, 233, 255);
    border-radius: 25px;
    background-color: rgba(161, 233, 255, 0.342);
    padding: 55px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.container {
    background-color: rgb(248, 251, 255);
}

.photo_style {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: 50%;
    margin-right: auto;
}

.photo_style2 {
    width: 400px;
    height: 400px;
    display: block;

    margin-right: auto;
}
.photo_style3{
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

dt {
    font-weight: bolder;
    font-size: large;
    color: rgb(4, 131, 204);
}

dl {
    margin-top: 25px;
    margin-bottom: auto;

}

h3 {
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;

}

h2 {
    color: rgba(74, 116, 255, 0.836);
    font-size: 40px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    padding: 40px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

hr {
    color: rgba(43, 78, 131, 0.164);
}
hr.white{
    color: white;
}

.task_list {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
    margin-left: 50px;
}
.task{
    list-style-type: square;
}
.task li{
    padding: 8px;
    font-size: large;
}
.abt_link{
    text-decoration: none;
    color: black;
}
.abt_link2{
    text-decoration: none;
    color: white;
}
.abt_link:hover{
    
    color: rgba(4, 137, 214, 0.705);
}

.row2 {
    display: flex;
    margin-left: 100px;
}

.Hero-section {
    margin-top: 150px;
}

.mainHead {
    background-color: rgba(73, 115, 255, 0.829);
    padding: 35px;
    display: flex;
    flex-direction: row;

}
.sub{
    background-color: rgb(142, 194, 255);
    display: block;
    width: 80%;
    border: 2px;
    padding: 40px;
    border-radius: 30px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

}
.subList{
    padding-top: 10px;
}
.section2{
    padding-top: 50px;
    background-color: rgb(202, 231, 255);
    padding-bottom: 250px;

}
.card{
    height: 280px;
    width: 230px;
    padding: 10px;
    border: solid 2px;
    border-color: rgba(0, 58, 247, 0.486);
    background-color: white;
    border-radius: 6px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.overlay {
    position: relative;
    bottom: 90.5%;
    right:5%;
    padding: 10px;
    height: 283px;
    width: 233px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 5px;
}
.card:hover .overlay{
    opacity: 0.8;
}
.card a{
    text-decoration: none;
}
footer{
    height: auto;
    background-color: rgba(73, 115, 255, 0.829);
    display: flex;
    justify-content: center;
    align-items: center;
}
.F1{
    width: 250px;
    height: 200px;
    padding: 8px;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;

}
.F1 small{
    color: white;
    font-weight: bold;
}
.F1_in{
    border: 2px solid;
    border-color: white;
    border-radius: 30px;
    box-shadow: 5px 10px 8px #454b72;
    
}
.F1 p{
    font-size: smaller;
    padding-top: 20px;           
}
.F1 ul{
    padding-top: 25px;
}
.list_item{
    padding: 4px;
}
.Footer_img{
    height: 40px;
    width: 40px;
    transition: 0.5s;
}
.Footer_img:hover{
    transform: scale(1.3);
    z-index: 1;
}
.img_list{
    display: flex;
}
.img_list li{
    padding: 10px;
}
.Topic{
    width: auto;
    display: flex;
    align-items: center;
}
.mainHead a{
    text-decoration: none;
}
p a{
    text-decoration: none;
    color: black;
}
p a:hover{
    color: rgb(0, 119, 255);
}
.nav_items{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px;
    justify-content: right;
}
.nav_item{
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.nav_item a{
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}
.nav_item a:hover{
    background-color: rgb(131, 185, 255);
    transition: 1s;
}
.nav_item a:active{
    color: rgb(49, 49, 49);
}
.active_nav{
    background-color: rgb(131, 185, 255);
    color: rgb(49, 49, 49);
}
.cardText {
    color: white;
    width: max-content;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .cardlist{
    padding-bottom: 20px;
    font-family: 'Rubik', sans-serif;
  }
  .card-title{
    color: rgb(45, 115, 247);
    margin-top: 62px;
    font-family: 'Rubik', sans-serif;
    font-size: large;
  }
  .products{
    margin-top: 0px;
    margin: 35px;
    margin-left: 150px;
    margin-right: 50px;
    display: inline-block;
    justify-content: center;
  }
  .productCard{
    border: solid rgb(232, 232, 255);
    border-radius: 4px;
    padding: 10px;
    margin: 25px;
    width: 280px;

  }

  .productCard:hover{
    border-color: rgb(77, 77, 77);
    transition: 0.5s;
    background-color: rgb(238, 238, 238);
  }
  .productlist{
    text-align: center;
    padding: 5px;
  }
  .productimage{
    height: 165px;
  }
  .ProductButton{
    background-color: white;
    color: black;
    padding: 8px;
    width: 140px;
    border: solid rgba(136, 136, 136, 0.247);
  }
  .ProductButton:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    
  }
  .product-row{
    display: none;
  }
  .product-row:nth-child(1),
  .product-row:nth-child(2){
    display: flex;
  }
  #load-more{
    padding: 10px;
    background-color: white;
    border: solid lightblue;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
    font-size: larger;
    color: lightblue;
    width: 190px;
    justify-content: center;
    margin-left: 40%;
    margin-right: 50%;
  }
  #load-more:hover{
    background-color: lightblue;
    color: white;
  }
  .checkoutBtn{
    text-decoration: none;
    font-family:  'Rubik', sans-serif;
    font-size: large;
    font-weight: bold;
    border: solid rgb(98, 133, 247);
    border-radius: 15px;
    color: rgb(27, 60, 170);
    background-color: white;
    padding: 13px;
    transition: 0.5s;
}

  .checkoutBtn:hover{
    background-color: rgb(98, 133, 247);
    color: white;

  }
  .checkoutProducts{
    margin-left: 30px;
    padding: 35px;
    font-family: 'Rubik', sans-serif;
    height: 500px;
    width: 800px;
    background-color: white;
  }
  .checkout{
    margin-left: 4rem;
    margin-top: 20px;
  }
  .totalCostproducts{
    margin-top: 10px;
    margin-left: 30px;
    padding: 35px;
    font-family: 'Rubik', sans-serif;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    margin-top: 18px;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin:0px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    transition: 1s;
    background-color: rgb(131, 185, 255);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9cb;
    border: 0;
    border-radius: 10px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(7, 7, 7);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Rubik', sans-serif;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(131, 185, 255);
    color: white;
    border: 0;
    border-radius: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }  
  .buttons{
    display: flex;
    justify-content: flex-end;
  }
  .font_button{
    display: flex;
    margin: 18px;
    background-color: rgba(206, 206, 206, 0.329);
    color: rgba(0, 0, 0, 0.404);
    text-align: center;
    cursor: pointer;
  }
  .font_button.active1{
    background-color: rgb(146, 146, 146);
  }
  .font_button:nth-child(2){
    font-size: 1.5rem;
  }
  .font_button:nth-child(3){
    font-size: 2rem;
  }

.formdiv{
    background-color: #4398b4;
    margin-left: 27%;
}
.formdiv h3{
    text-align: center;
    margin-bottom: 20px;
}
.formdiv form{
    display: inline-block;
    justify-content: center;
    margin: 40px;
}
.form-contrtol{
    padding: 9px;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: white;
}
.form-contrtol input{
    float: inline-end;
    width: 280px;
}
.form-contrtol label{
    margin-right: 25px;
}
.formBtn{
    background-color: #7aceeb;
    padding: 8px;
    width: 110px;
    margin-top: 2rem;
    font-weight: bold;
    color: white;
}
#error{
    color: red;
    text-align: center;
}